body {
    background: rgb(85, 85, 214);    
    font: normal 15pt Arial
}

header {
    color: white;
    text-align: center;
}

section {
    background: cornsilk;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.376);

}

footer{ 
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 15px;

}